<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>{{ context }}</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>University Field</th>
                <th>Research Interests</th>
            </tr>
            {% for person in recommended_people %}
            <tr>
                <td>{{ person['Name'] }}</td>
                <td>{{ person['University Field'] }}</td>
                <td>{{ person['Research Interests'] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
